### This notebook is used for solutions of the Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto for the Coursera Applied Data Science Capstone course.

#### First Exercise

Importing Necesary Libraries for the Project

In [1]:
import pandas as pd
import numpy as np

Scrapping data for the Wikipedia url given and using only the first table received:

In [18]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url)[0]
df

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

- Getting rid of all rows containing 'Not assigned'
- Fixing the indices
- Printing the shape of the resulting dataframe

In [26]:
df = df[df['Borough']!="Not assigned"]
df = df.reset_index(drop=True)
df
np.shape(df)

(103, 3)

#### Second Exercise

Loading the data from the csv file:

In [29]:
csv = 'http://cocl.us/Geospatial_data'
geo = pd.read_csv(csv)
geo

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

Merging the two dataframes:

In [36]:
toronto_df = pd.merge(df,geo).sort_values(by=["Postal Code"])
toronto_df

,Postal Code,Borough,Neighborhood,Latitude,Longitude
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
12,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
18,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
22,M1G,Scarborough,Woburn,43.770992,-79.216917
26,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
64,M9N,York,Weston,43.706876,-79.518188
70,M9P,Etobicoke,Westmount,43.696319,-79.532242
77,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
89,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
94,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054